body {
  background-color: #0D4273;
}

.App {
  padding: 75px 0px;
}

@media screen and (min-width: 767px) {
  .App {
    max-width: 790px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 150px 0px;
  }
}